html {}

body {
    background: url(images/lightback.png) no-repeat center center fixed;
    background-size: cover;
}

.indexNavBar {
    background-color: rgba(1, 1, 1, 0.7);
    ;
}

.logout {
    cursor: pointer;
}

.homeNavBar {
    background-color: rgba(1, 1, 1, 0.2);
}

.homeNavBar a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.701961) !important;
}

.searchBar {
    margin: 10px 0 30px 0;
}

.moviePoster {
    height: 267px;
    width: 185px;
}

.movieTitle {
    color: white;
    max-width: 185px;
}

.movieInfo {
    text-align: left;
    margin-top: 15px;
    color: white;
    max-width: 185px;
}

.movieGrid {
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

.modalError {
    margin-top: 15px;
}

.image-container {
    position: relative;
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 185px;
    height: 100%;
    display: none;
    color: #cc7b19;
    text-decoration: none;
}

.image-container:hover img {
    opacity: 0.2;
}

.image-container:hover .after {
    display: block;
    box-shadow: 0 0 0 2px #cc7b19;    
}

#removeIcon {
    left: 3px;
    top: 3px;
}

.autofill {
    margin-top: 15px;
}