<!doctype html>
<html ng-app="myApp" ng-controller="indexController">

<head>
  <meta charset="utf-8">
  <base href="/">
  <title>Bonfire Challenge</title>
  <!-- styles -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
  <link href="index.css" type="text/css" rel="stylesheet" />
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>

<body>


  <nav class="navbar navbar-default indexNavBar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <a class="navbar-brand" href="/"><img src="images/logo.png" alt="" /></a>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">
              <span class="glyphicon glyphicon-home"></span>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-controller="logoutController">
            <!--If logged in, give option to log out-->
            <a ng-if="loggedIn" class="logout" ng-click='logout()'>Logout</a>
          </li>
          <li ng-controller="registerController">
            <!--If logged out, give option to register-->
            <a ng-if="!loggedIn" href="/register">Register</a>
          </li>
          <li>
            <!--If logged out, give option to login-->
            <a ng-if="!loggedIn" href="/login">Login</a>
          </li>
          <li ng-if="loggedIn" class="logout">
            <!--If logged in, show username-->
            <a>{{username}}</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div ng-view>
    </div>
  </div>

  <!-- scripts -->
  <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
  <script src="./main.js"></script>
  <script src="./services.js"></script>
  <script src="./controllers.js"></script>



</body>

</html>