<nav class="navbar navbar-default homeNavBar">
  <div class="container-fluid ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#myModal" data-toggle="modal" data-target="#myModal">Add a movie</a></li>
        <li class="dropdown">
          <a href="#" ng-if="sort == 'title'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By Title<span class="caret"></span></a>
          <a href="#" ng-if="sort == 'genre'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By Genre<span class="caret"></span></a>
          <a href="#" ng-if="sort == 'actor'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By Actor<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" ng-click="changeSort('title')">Title</a></li>
            <li><a href="#" ng-click="changeSort('genre')">Genre</a></li>
            <li><a href="#" ng-click="changeSort('actor')">Actor</a></li>
          </ul>
        </li>
        <li class="disabledNavItem"><a href="#">{{movies.length}}</a></li>

      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<h1 class="searchText">Search by Title, Genre, or Actor</h1>



<input type="text" class="form-control searchBar" placeholder="Will Smith Action" ng-model="search.query" ng-change="inputChange()">
<div ng-repeat="movie in movies | searchFilter: search" class="movieGrid">
  <h3 class="movieTitle">{{movie.title}}</h3>

  <div class="image-container">
    <img class="moviePoster" src="{{movie.image}}" />
    <a class="after" aria-hidden="true"><span id="removeIcon" ng-click="removeMovie(movie._id)"  class="glyphicon glyphicon-remove"></span></a>
  </div>
  <div class="movieInfo">
    <!--<h4 class="movieTitle">{{movie.title}}</h4>-->
    <h6 class="movieGenre">{{movie.genre}}</h6>
    <h6 class="movieActor">{{movie.actor}}</h6>
  </div>

  <!--<a ng-click="removeMovie(movie._id)" class="btn btn-default">remove movie</a>-->
</div>



<!-- Modal -->
<div class="modal fade" my-modal id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add A Movie</h4>
      </div>
      <h4 class="modalError">{{modalError}}</h4>
      <div class="modal-body">
        <h3>Title</h3>
        <input type="text" placeholder="The godfather" class="form-control" ng-model="newMovie.title">

        <Button ng-disabled="checkLength()" ng-click="autofill()" class="autofill btn btn-info">Autofill from IMDB API</Button>

        <h3>Genre</h3>
        <input type="text" placeholder="Action" class="form-control" ng-model="newMovie.genre">
        <h3>Actors</h3>
        <input type="text" placeholder="Will Smith" class="form-control" ng-model="newMovie.actor">
        <h3>Link to Image</h3>
        <input type="text" placeholder="" class="form-control" ng-model="newMovie.image">
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="addMovie(newMovie)" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>